  <!-- タイトルとナビゲーションボタン -->
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <!-- タイトルと本文 -->
        <h1 class="fw-light">この世の闇ニュース</h1>
        <p class="lead text-muted">
          記事を見て反社会的勢力に思いを馳せましょう。
          素敵なニュースをお待ちしています。</p>
        <p>
          <!-- ナビゲーションボタン -->
          {% if user.is_authenticated %}
          <!-- ログイン中のボタン -->
          <a href="{% url "article:post" %}"
            class="btn btn-primary my-2">投稿する</a>
          <a href="{% url 'accounts:logout' %}"
            class="btn btn-secondary my-2">ログアウト</a>
          {% else %}
          <!-- ログイン状態ではない場合のボタン -->
          <a href="{% url 'accounts:signup' %}"
            class="btn btn-primary my-2">サインアップ</a>
          <a href="{% url 'accounts:login' %}"
            class="btn btn-secondary my-2">登録済みの方はログイン</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>
